# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Materiais Brutos
BUZZ SITE-20260803T033550Z-1-001/
BUZZ SITE-20260803T033550Z-1-001/SITE BUZZ (1).pdf
